html,body{
background-image: url('../imagenes/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: auto;
font-family: "Times New Roman", Times, serif;
}

.container{
height: 100%;
align-content: center;
font-family: "Times New Roman", Times, serif;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 100%;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header img{
  display: block;
  margin: auto;

}
.card-header h3{
text-align: right ;
color: white;
}
.card-body h5{
color: white;
}


label{
  color: white;
  font-size: 18px;
}


.input-group-prepend span{
width: 40px;
background-color: #fff;
color: black;
border:0 !important;
}

.registrar_btn{
  float: right;
  right: 20px;
color: black;
background-color: #08aa36;
width: 100px;
height: 40px;
border: 0;
font-size: 18px;
font-weight: 500;
line-height: 40px;
border-radius:  4px;

}

.registrar_btn{
position: relative;
}

.registrar_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.table {


  display: block;
  overflow-y: scroll;

  height:300px;
  width:100%;

}
