<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>RegistrarMulta</title>

   <!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" href="css/colocacionMultas.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.mim.js"></script>
 <script src="js/CardReader.js"></script>

<script>
function validar(){
  var busqueda,nombre_1,segundonombre,primerapellido,segundoapellido,cedula,nacionalidad,expre1,expre2;

busqueda = document.getElementById('busqueda').value;
//buscaramet = document.getElementById('busqueda').value;

expre1 = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
expre2 = /^[A-Z]+$/i;

  if(nombre_1 === ""){
    alert("El campo primer nombre esta vacío");
    return false;
  }
  else if (nacionalidad=== 0) {
    alert("El campo nacionalidad esta vacío");
    return false;
  }

  else if (telefonoconductor==="") {
    alert("El campo teléfono esta vacío");
    return false;
  }

  else if (isNaN(telefonoconductor) ) {
    alert("El campo teléfono debe ser solo números ");
    return false;
  }
}
</script>
</head>

  <body>
    <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <img src="imagenes/digesettLogo.png"></img>
        <h3>Acta de Infracción</h3>

    <div class="form-group col-md-3">

      <label for="buscaramet">Agente DIGESETT:</label>
      <input type="text" class="form-control" id="buscaramet" name="policia_id" autocomplete="off"  placeholder="" onchange="onBuscarAmet()">

    </div>

      </div>

      <div class="card-body">
        <form name="aplicarMulta" action="/colocacionMultas" method="POST" >

          <div class="form-row">

              <div class="form-group col-md-3">
                <label>Buscar Conductor:</label>
                <input type="text" class="form-control" maxlength="17" onchange="onCedulaChange()" name="busqueda" id="busqueda" placeholder=""  onkeypress='return event.charCode>=48 && event.charCode<=57'>

              </div>

              <div class="form-group col-md-3">
                <label for="primernombre">Nombres:</label>
              <input type="text" class="form-control" id="primernombre" disabled="disabled" autocomplete="off" placeholder="">
              </div>

              <div class="form-group col-md-3">
                  <label for="primerapellido">Primer apellido:</label>
                 <input type="text" class="form-control" id="primerapellido" autocomplete="off" disabled="disabled" placeholder="">
              </div>
              <div class="form-group col-md-3">
                <label for="segundoapellido">Segundo apellido:</label>
                <input type="text" class="form-control" id="segundoapellido" autocomplete="off" disabled="disabled" placeholder="">
              </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="cedula">Cédula:</label>
                  <input type="text" maxlength="11" autocomplete="off" class="form-control" id="cedula"  name="cedula" disabled="disabled">
                </div>

                <input type="hidden" maxlength="11" autocomplete="off" class="form-control" id="cedulaoculta"  name="cedulaoculta" >


              <div class="form-group col-md-3">
                <label for="telefonoconductor">Teléfono:</label>
                <input type="text" class="form-control" maxlength="10" id="telefonoconductor" autocomplete="off" disabled="disebled" placeholder="" onkeypress='return event.charCode>=48 && event.charCode<=57'>
              </div>
              <div class="form-group col-md-3">
                <label for="nacionalidad">Nacionalidad:</label>
                <input type="text" class="form-control" id="nacionalidad" disabled="disebled" autocomplete="off" placeholder="">
              </div>
            <div class="form-group col-md-3">
              <label for="pais">País:</label>
              <input type="text" class="form-control" id="pais" placeholder="">
            </div>
          </div>


    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="marca">Marca:</label>
      <input type="text" class="form-control" id="marca" name="marca" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label for="modelo">Modelo:</label>
      <input type="text" class="form-control" id="modelo" name="modelo" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label for="placa">No. Placa:</label>
      <input type="text" class="form-control" id="placa" name="placa" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label for="tipovehiculo">Tipo de Vehículo:</label>
      <select id="tipovehiculo" name="tipovehiculo" class="form-control">
        <option selected>Elegir...</option>
        <option>Motocicleta</option>
        <option>Automóvil</option>
        <option>Camioneta</option>
        <option>Autobús</option>
        <option>Otros</option>
      </select>
    </div>

  </div>

<caption ><font color='white' align='center' size='5'>Listado de Infracción</font>

</caption>
<div class="table-responsive">
  <div style="float:left;">
    <table class="table  table-striped table-bordered table-light" style="text-align:center; vertical-align:middle;">

  <thead>
    <tr>
      <!--<th scope="col">Código</th>-->
      <th scope="col">Seleccione</th>
      <th scope="col">Descripción</th>
      <th scope="col">Seleccione</th>
      <th scope="col">Descripción</th>
      <th scope="col">Seleccione</th>
      <th scope="col">Descripción</th>
      <th scope="col">Seleccione</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>

<tr>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" value="42"  name="checklist[]"> Art-42</label2>
    </div></div></td>
    <td>Tablilla de identificación personal.</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" value="143"  name="checklist[]"> Art-143</label2>
    </div></div></td>
    <td>Conservación de señales de tránsito.</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" id="multa189-18"  onclick="onCheckBox()"> Art-189 No.18</label2>
    </div></div></td>
    <td>Modificar color consignado en la matrícula.</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" id="multa233"  onclick="onCheckBox()"> Art-233</label2>
    </div></div></td>
    <td>Precaución al encontrarse con un autobús escolar.</td>

</tr>

<tr>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa44" value="44"  name="checklist[]"> Art-44</label2>
      </div></div></td>
      <td>Operación sin licencia o rótulo de identidad autorizado.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa144" value="144"  name="checklist[]"> Art-144</label2>
      </div></div></td>
      <td>Conservación de las vías públicas y paseos.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-19"  onclick="onCheckBox()"> Art-189 No.19</label2>
      </div></div></td>
      <td>Tirar o empujar un vehículo por otro vehiculo de motor no diseñado para tales fines.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa235"  onclick="onCheckBox()"> Art-235</label2>
      </div></div></td>
      <td>Giro prohibido.</td>
</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa62"  value="62"  name="checklist[]"> Art-62</label2>
      </div></div></td>
      <td>Transporte de carga o mercancías en vehículos destinados al transporte público de pasajero.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa145"  onclick="onCheckBox()"> Art-145</label2>
      </div></div></td>
      <td>Uso de las vías públicas y paseos.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa191"  onclick="onCheckBox()"> Art-191</label2>
      </div></div></td>
      <td>Emisiones contaminantes y conversión de vehículos de motor.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa236"  onclick="onCheckBox()"> Art-236</label2>
      </div></div></td>
      <td>Señales de los conductores.</td>
</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa63"  onclick="onCheckBox()"> Art-63</label2>
      </div></div></td>
      <td>Uso de animales como medio de tracción en las vías públicas.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa146"  onclick="onCheckBox()"> Art-146</label2>
      </div></div></td>
      <td>Obstáculos al libre tránsito.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa192"  onclick="onCheckBox()"> Art-192</label2>
      </div></div></td>
      <td>Requisitos de equipamiento.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa237"  onclick="onCheckBox()"> Art-237</label2>
      </div></div></td>
      <td>Estacionamiento en lugar prohibido.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa64-1"  onclick="onCheckBox()"> Art-64 No.1</label2>
      </div></div></td>
      <td>Luces de motocicletas.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa147"  onclick="onCheckBox()"> Art-147</label2>
      </div></div></td>
      <td>Puestos de ventas en las vías públicas.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa193"  onclick="onCheckBox()"> Art-193</label2>
      </div></div></td>
      <td>Obstrucciones a la visibilidad del conductor.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa238"  onclick="onCheckBox()"> Art-238</label2>
      </div></div></td>
      <td>Parada en las intersecciones.</td>

</tr>

<tr>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa64-2"  onclick="onCheckBox()"> Art-64 No.2</label2>
      </div></div></td>
      <td>Franjas de material reflectivo.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa155"  onclick="onCheckBox()"> Art-155</label2>
      </div></div></td>
      <td>Cruce sobre mangueras de bomberos.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa194"  onclick="onCheckBox()"> Art-194</label2>
      </div></div></td>
      <td>Aparatos receptores de imágenes.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa239"  onclick="onCheckBox()"> Art-239</label2>
      </div></div></td>
      <td>Uso del freno de emergencia.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa64-3"  onclick="onCheckBox()"> Art-64 No.3</label2>
      </div></div></td>
      <td>Luces que indiquen largo total del vehículo.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa156"  onclick="onCheckBox()"> Art-156</label2>
      </div></div></td>
      <td>Las ciclovías.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa195"  onclick="onCheckBox()"> Art-195</label2>
      </div></div></td>
      <td>Parachoques.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa241"  onclick="onCheckBox()"> Art-241</label2>
      </div></div></td>
      <td>Inicio de la marcha.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa67"  onclick="onCheckBox()"> Art-67</label2>
      </div></div></td>
      <td>Número de pasajeros.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa158"  onclick="onCheckBox()"> Art-158</label2>
      </div></div></td>
      <td>Colocación de propagandas en vías públicas.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa210"  onclick="onCheckBox()"> Art-210</label2>
      </div></div></td>
      <td>No porte de licencia de conducir o licencia vencida.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa246"  onclick="onCheckBox()"> Art-246</label2>
      </div></div></td>
      <td>Transitar por la derecha.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa68"  onclick="onCheckBox()"> Art-68</label2>
      </div></div></td>
      <td>Capacidad de asientos.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa167"  onclick="onCheckBox()"> Art-167</label2>
      </div></div></td>
      <td>Marbete de Inspección Técnica Vehicular.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa217"  onclick="onCheckBox()"> Art-217</label2>
      </div></div></td>
      <td>No porte de seguro o seguro vencido.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa247"  onclick="onCheckBox()"> Art-247</label2>
    </div></div></td>
      <td>Excepciones para el tránsito por la derecha.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa69"  onclick="onCheckBox()"> Art-69</label2>
      </div></div></td>
      <td>Transporte de niños menores de 12 años en asiento trasero; de 6-12 con cinturón de seguridad y menos de 6 años en asiento especial para infantes.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa170"  onclick="onCheckBox()"> Art-170</label2>
      </div></div></td>
      <td>Perdida de condiciones de seguridad.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa218-219"  onclick="onCheckBox()"> Art-218 y 219</label2>
      </div></div></td>
      <td>Circulación a los peatones.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa248"  onclick="onCheckBox()"> Art-248</label2>
      </div></div></td>
      <td>Alcanzar y pasar por la izquierda.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa78"  onclick="onCheckBox()"> Art-78</label2>
      </div></div></td>
      <td>Prohibición de niños menores de 8 años en motocicletas y de más de dos pasajeros.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa174"  onclick="onCheckBox()"> Art-174</label2>
      </div></div></td>
      <td>Modificación de vehículos de motor o remolques.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa220"  onclick="onCheckBox()"> Art-220</label2>
      </div></div></td>
      <td>Conducción temeraria.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa249"  onclick="onCheckBox()"> Art-249</label2>
      </div></div></td>
      <td>Deber del conductor alcanzado.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa96"  onclick="onCheckBox()"> Art-96</label2>
      </div></div></td>
      <td>Vehículos para transpote funerario.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-1"  onclick="onCheckBox()"> Art-189 No.1</label2>
      </div></div></td>
      <td>Sin matrícula.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa221"  onclick="onCheckBox()"> Art-221</label2>
      </div></div></td>
      <td>Distracción durante la conducción.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa250"  onclick="onCheckBox()"> Art-250</label2>
      </div></div></td>
      <td>Conducción entre carriles.</td>

  </tr>

  <tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa98"  onclick="onCheckBox()"> Art-98</label2>
      </div></div></td>
      <td>Prohibición para transportar pasajeros en vehículos fúnebres.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-2"  onclick="onCheckBox()"> Art-189 No.2</label2>
      </div></div></td>
      <td>Conducir un vehículo o tirar de un remolque en un uso distinto al autorizado por la matrícula.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa222"  onclick="onCheckBox()"> Art-222</label2>
      </div></div></td>
      <td>Deberes de los conductores hacia los peatones.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa251"  onclick="onCheckBox()"> Art-251</label2>
      </div></div></td>
      <td>No uso de casco protector homologado, chalecos, o aditamentos de ropas reflectantes. Transitar en prupos de
        dos o más en paralelo, sujetarse de otro vehículo en movimiento, transitar por túneles, pasos a desnivel y en vía contraria</td>
</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa120"  onclick="onCheckBox()"> Art-120</label2>
      </div></div></td>
      <td>Zonas y horarios de circulación de transporte de carga.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-4"  onclick="onCheckBox()"> Art-189 No.4</label2>
      </div></div></td>
      <td>Sin placa.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa223"  onclick="onCheckBox()"> Art-223</label2>
      </div></div></td>
      <td>Precaución al encontrarse con un autobús escolar.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa252" onclick="onCheckBox()"> Art-252</label2>
      </div></div></td>
      <td>Cruzarse en sentidos opuestos.</td>

</tr>

<tr>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa122" onclick="onCheckBox()"> Art-122</label2>
      </div></div></td>
      <td>Prohibición a la circulación de transporte de carga con sobrepeso.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-6" onclick="onCheckBox()"> Art-189 No.6</label2>
      </div></div></td>
      <td>Borrar o alterar información en el certificado de propiedad (matrícula).</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa224" onclick="onCheckBox()"> Art-224</label2>
      </div></div></td>
      <td>Distancia a mantener entre vehículos.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa253"  onclick="onCheckBox()"> Art-253</label2>
      </div></div></td>
      <td>Movimiento en retroceso.</td>

</tr>

<tr>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa124"  onclick="onCheckBox()"> Art-124</label2>
      </div></div></td>
      <td>Prohibición del transporte de pasajeros sobre la carga.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-7"  onclick="onCheckBox()"> Art-189 No.7</label2>
      </div></div></td>
      <td>Placas mutiladas, alteradas, fotocopiadas, etc.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa225"  onclick="onCheckBox()"> Art-225</label2>
      </div></div></td>
      <td>Precaución al encontrarse con animales.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa254"  onclick="onCheckBox()"> Art-254</label2>
      </div></div></td>
      <td>Ceder el paso.</td>

</tr>

<tr>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa133"  onclick="onCheckBox()"> Art-133</label2>
      </div></div></td>
      <td>Respeto a las señales del Semáforo.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-8"  onclick="onCheckBox()"> Art-189 No.8</label2>
      </div></div></td>
      <td>Aditamentos a la placa.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa226"  onclick="onCheckBox()"> Art-226</label2>
      </div></div></td>
      <td>Responsabilidad del propietariode animales.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa256"  onclick="onCheckBox()"> Art-256</label2>
      </div></div></td>
      <td>Conducir en estado de embriaguez.</td>

</tr>

<tr>
      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa135"  onclick="onCheckBox()"> Art-135</label2>
      </div></div></td>
      <td>Semáforo para los peatones.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa189-9"  onclick="onCheckBox()"> Art-189 No.9</label2>
      </div></div></td>
      <td>Uso de documentos falsos o alterados.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa227-228-229"  onclick="onCheckBox()"> Art-227, 228 y 229</label2>
      </div></div></td>
      <td>Uso de putos, sirenas, bocinas, luces giratorias, intermitentes o rojas.</td>

      <td><div class="input-group mb-3">
      <div class="input-group-prepend">
      <label2><input type="checkbox" text="" id="multa257"  onclick="onCheckBox()"> Art-257</label2>
      </div></div></td>
      <td>Conducción bajo los efectos de drogas o sustancias controladas.</td>

</tr>

<tr>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa137"  onclick="onCheckBox()"> Art-137</label2>
  </div></div></td>
  <td>Semáforo de carriles.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa189-11"  onclick="onCheckBox()"> Art-189 No.11</label2>
  </div></div></td>
  <td>Alterar o modificar la lectura del odómetro.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa230"  onclick="onCheckBox()"> Art-230</label2>
  </div></div></td>
  <td>Deslizamiento en neutro por cuestas.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa264"  onclick="onCheckBox()"> Art-264</label2>
  </div></div></td>
  <td>Límites de velocidad.</td>

</tr>

<tr>
  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa139"  onclick="onCheckBox()"> Art-139</label2>
  </div></div></td>
  <td>Semáforo de tránsito ante cruces ferroviarios.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa189-13"  onclick="onCheckBox()"> Art-189 No.13</label2>
  </div></div></td>
  <td>Sin marbete o placa vencida.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa231-1"  onclick="onCheckBox()"> Art-231 No.1</label2>
  </div></div></td>
  <td>Uso de putos, sirenas, bocinas, luces giratorias, intermitentes o rojas.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa266"  onclick="onCheckBox()"> Art-266</label2>
  </div></div></td>
  <td>Lugares de velocidad regulada.</td>

</tr>

<tr>
  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa140"  onclick="onCheckBox()"> Art-140</label2>
  </div></div></td>
  <td>Señales de tránsito ante intersecciones.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa189-14"  onclick="onCheckBox()"> Art-189 No.14</label2>
  </div></div></td>
  <td>Placas no previstas por la ley.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa231-2"  onclick="onCheckBox()"> Art-231 No.2</label2>
  </div></div></td>
  <td>Guía a la derecha.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa267"  onclick="onCheckBox()"> Art-267</label2>
  </div></div></td>
  <td>Competencia de velocidad en las vías públicas.</td>

</tr>

<tr>
  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa141"  onclick="onCheckBox()"> Art-141</label2>
  </div></div></td>
  <td>Marca en el pavimento, bordillo y en el contén.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa189-15"  onclick="onCheckBox()"> Art-189 No.15</label2>
  </div></div></td>
  <td>Indicadores de peso y capacidad en vehículo de carga.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa231-4"  onclick="onCheckBox()"> Art-231 No.4</label2>
  </div></div></td>
  <td>Lanzar desperdios a la vía pública.</td>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa268"  onclick="onCheckBox()"> Art-268</label2>
  </div></div></td>
  <td>Límites máximos de velocidad.</td>

</tr>

<tr>

  <td><div class="input-group mb-3">
  <div class="input-group-prepend">
  <label2><input type="checkbox" text="" id="multa142"  onclick="onCheckBox()"> Art-142</label2>
  </div></div></td>
  <td>Señales y marcas no autorizadas.</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" id="multa189-17"  onclick="onCheckBox()"> Art-189 No.17</label2>
    </div></div></td>
    <td>Placa vencida, suspendida o cancelada.</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" id="multa231-5"  onclick="onCheckBox()"> Art-231 No.5</label2>
    </div></div></td>
    <td>No uso del cinturón de seguridad</td>

    <td><div class="input-group mb-3">
    <div class="input-group-prepend">
    <label2><input type="checkbox" text="" id="multa269"  onclick="onCheckBox()"> Art-269</label2>
    </div></div></td>
    <td>Velocidad muy reducida.</td>

</tr>

</tbody>

</table>
</div>
</div>



  <div class="form-group">
    <input type="submit" value="Registrar" class="registrar_btn">
  </div>


</form>
</div>



      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#"> Se levanta la presente acta de infracción que hace constar la violación al(los) artículo(s) de la ley 63-17 marcado(s) en la(s) casilla(s) de más arriba. El ciudadano cuneta con un plazo de treinta (30) días a partir de la fecha de emisión de esta acta que vale como citación legal, para a) pagar voluntariamente la multa en los puntos establecidos para estos fines, cuyo importe será el menor del rango contemplado en la Ley para la(s) sanción(es) correspondiente(s): o b) ejercer su derecho de impugnar en justicia en el Juzgado de Paz Ordinario de la demarcación done ocurrió el hecho o ante la Unidad de Transito del Ministerio Publico. De no pagar voluntariamente o no impugnar la infracción en el plazo establecido el infractor reconoce que no aplicaría el importe menor de rango contemplado en la Ley y que los pagos realizados después de vencido el citado plazo incluirán los recargos contemplados en el Código Tributario y en sus leyes complementarias, entre otras sanciones contempladas en la Ley, sin necesidad de nueva notificación. </a>
        </div>
      </div>
    </div>
</div>
  </div>

<script src="custom-js/buscar-user.js"></script>
<script src="custom-js/buscar-articulo.js"></script>
<script src="custom-js/Buscar-Agente.js"></script>

  </body>
</html>
