<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registrar Vehículo</title>

    <!--Fontawesome CDN-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

 <!--Custom styles-->
 <link rel="stylesheet" href="css/registrarVehiculo.css">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-body">
          <img src="imagenes/digesettLogo.png"></img>
          <h1><strong>Registrar vehículo</strong></h1>
          <br>

          <form name="registrar" action="/registrarVehiculo" method="POST">
            <fieldset>
              <legend><h4>1. Datos del propietario</h4></legend>
              <div class="form-row">
                <div class="col-md-3">
                    <label for="cedula">Cédula:</label>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                      </div>
                        <input type="text" autocomplete="off" class="form-control" name="cedula" id="cedula">
                    </div>
                </div>

                    <div class="col-md-9">
                        <label for="primernombre">Nombre completo:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                            <input type="text" autocomplete="off" class="form-control" name="primernombre" id="primernombre" placeholder="">
                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                        <label for="primernombre">Primer apellido:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                            <input type="text" autocomplete="off" class="form-control" name="primerapellido" id="primerapellido" placeholder="">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="primernombre">Segundo apellido:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                            <input type="text" autocomplete="off" class="form-control" name="segundoapellido" id="segundoapellido" placeholder="">
                        </div>
                    </div> -->

                  <!-- <div class="form-group col-md-3">
                      <label for="primernombre">Primer nombre:</label>
                      <input type="text" class="form-control" id="primernombre" placeholder="">
                  </div> -->

              <!-- <div class="form-row">
                    <div class="col-md-12">
                        <label for="primernombre">Dirección:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                            <input type="text" class="form-control" id="primernombre" placeholder="">
                        </div>
                    </div>
              </div> -->

            </fieldset>
            <br>

            <fieldset>
              <legend><h4>2. Datos del Vehículo</h4></legend>
              <div class="form-row">
                    <div class="col-md-3">
                        <label for="Placa">Placa:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"></span>
                          </div>
                            <input type="text" autocomplete="off" class="form-control" name="placa" id="placa" placeholder="">
                        </div>
                    </div>

                    <div class="col-md-3">
                    <label for="Chasis">Matricula:</label>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                      </div>
                        <input type="text" autocomplete="off" class="form-control" name="matricula" id="matricula" placeholder="">
                    </div>
                  </div>

                  <div class="col-md-3">
                      <label for="Color">Color:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" autocomplete="off" class="form-control" name="color" id="color" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="fabricación">Año de fabricación:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" class="form-control" name="fabricación" id="fabricación" placeholder="">
                      </div>
                  </div>

                  <!-- <div class="col-md-3">
                      <label for="Chasis">Chasis:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" autocomplete="off" class="form-control" name="chasis" id="chasis" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="Status">Status del Vehículo:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" autocomplete="off" class="form-control" name="status" id="status" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="emision">Tipo de emisión:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <select id="emision" name="emision" class="form-control">
                            <option selected>Seleccione</option>
                            <option>Endosos</option>
                            <option>Traspaso de vehículo</option>
                            <option>Corriente</option>
                        </select>
                      </div>
                  </div> -->

              </div>

              <div class="form-row">
                    <div class="col-md-3">
                        <label for="Tipo">Tipo de vehículo:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"></span>
                          </div>
                          <select id="tipoveh" name="tipoveh" class="form-control" >
                              <option selected>Seleccione</option>
                              <option>Motocicleta</option>
                              <option>Automóvil </option>
                              <option>Camioneta</option>
                              <option>Autobús</option>
                             </select>
                        </div>
                    </div>

                  <div class="col-md-3">
                      <label for="Marca">Marca:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <select id="marca" name="marca" class="form-control" onchange="fillModelos()">
                            <option selected>Seleccione</option>
                           </select>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="Modelo">Modelo:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <select id="modelo" name="modelo" class="form-control">
                            <option selected>Seleccione</option>
                        </select>
                      </div>
                  </div>
              </div>

                  <!-- <div class="col-md-3">
                      <label for="serie">No.de serie:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" autocomplete="off" class="form-control" name="serie" id="serie" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="Fuerza">Fuerza motriz(HP/cc):</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" autocomplete="off" class="form-control" name="fuerza" id="fuerza" placeholder="">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <label for="Puertas">No.Puertas:</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="number" autocomplete="off" max="4" min="0"class="form-control" name="puertas" id="puertas" placeholder="">
                      </div>
                  </div>
                </div>

                  <div class="form-row">
                    <div class="col-md-3">
                        <label for="Pasajeros">Pasajeros:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"></span>
                          </div>
                            <input type="text" class="form-control" name="pasajeros" id="pasajeros" placeholder="">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="Carga">Cap.Carga(Ton):</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"></span>
                          </div>
                            <input type="text" class="form-control" name="carga" id="carga" placeholder="">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="Cilindros">Cilindros:</label>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"></span>
                          </div>
                            <input type="text" class="form-control" name="cilindros" id="cilindros" placeholder="">
                        </div>
                    </div>
                  </div> -->

            </fieldset>
            <br>

            <div class="form-group">
                <input type="submit" value="Registrar" class=" registrarvehiculo_btn">
            </div>

          </form>

        </div>
        <!-- <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </div> -->
      </div>
    </div>
    </div>




    <script src="js/bootstrap.mim.js"></script>
    <script src="custom-js/registrarVehiculo.js"></script>
  </body>
</html>
