<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Registrarse</title>

   <!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" href="/css/registrarUser.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- funcion para validar -->
<script>
function validar(){
  var primernombre,segundonombre,primerapellido,segundoapellido,cedula,nacionalidad,
  fechanacimiento,sexo,correo,contrasenausuario,confcontrasenausuario,telefonousuario,
  provincia,municipio,sector,calle,expre1,expre2;

  primernombre = document.getElementById('primernombre').value;
  segundonombre = document.getElementById('segundonombre').value;
  primerapellido = document.getElementById('primerapellido').value;
  segundoapellido = document.getElementById('segundoapellido').value;
  cedula = document.getElementById('cedula').value;
  nacionalidad = document.getElementById('nacionalidad').selectedIndex;
  fechanacimiento = document.getElementById('fechanacimiento').value;
  sexo = document.getElementById('sexo').selectedIndex;
  correo = document.getElementById('emailusuario').value;
  contrasenausuario = document.getElementById('contrasenausuario').value;
  confcontrasenausuario = document.getElementById('confcontrasenausuario').value;
  telefonousuario = document.getElementById('telefonousuario').value;
  provincia = document.getElementById('provincia').value;
  municipio = document.getElementById('municipio').value;
  sector = document.getElementById('sector').value;
  calle = document.getElementById('calle').value;
  expre1 = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
  expre2 = /^[A-Z]+$/i;


  if(primernombre === ""){
    alert("El primer nombre esta vacío");
    // document.getElementById("primernombre").focus();
    // document.getElementById("primernombre").style.borderColor="red";
    return false;
  }
  else if (!expre2.test(primernombre)) {
    alert("El primer nombre solo debe tener letras");
    return false;
  }
  else if (primerapellido ==="") {
    alert("El primer apellido esta vacío");
    return false;
  }
  else if (cedula==="") {
    alert("La cédula esta vacío");
    return false;
  }
  else if (nacionalidad=== 0) {
    alert("La nacionalidad esta vacío");
    return false;
  }
  else if (fechanacimiento==="") {
    alert("La fecha de nacimiento esta vacío");
    return false;
  }
  else if (sexo=== 0) {
    alert("El campo esta vacío");
    return false;
  }
  else if (correo==="") {
    alert("El campo esta vacío");

    alert("El sexo esta vacío");
    return false;
  }
  else if (correo==="") {
    alert("El correo esta vacío");
    return false;
  }
  else if (!expre1.test(correo)) {
    alert("El correo no es válido");
    return false;
  }
  else if (contrasenausuario==="") {
    alert("El campo esta vacío");
    return false;
  }
  else if (confcontrasenausuario==="") {
    alert("El campo esta vacío");
    return false;
  }
  else if (telefonousuario==="") {
    alert("El campo teléfono esta vacío");
    return false;
  }
  else if (provincia=== '') {
    alert("El campo provincia esta vacío");
    return false;
  }
  else if (municipio=== '') {
    alert("El campo municipio esta vacío");
    return false;
  }
  else if (sector==="") {
    alert("El campo Sector esta vacío");
    return false;
  }
  else if (calle==="") {
    alert("El campo calle esta vacío");
    return false;
  }
  else if (confcontrasenausuario==="") {
    alert("Confirmar la contraseña esta vacío");
    return false;
  }
  else if (telefonousuario==="") {
    alert("El teléfono esta vacío");
    return false;
  }
  else if (provincia=== '') {
    alert("La provincia esta vacío");
    return false;
  }
  else if (municipio=== '') {
    alert("El municipio esta vacío");
    return false;
  }
  else if (sector==="") {
    alert("El sector esta vacío");
    return false;
  }
  else if (calle==="") {
    alert("La calle esta vacío");
    return false;
  }
  else if (primernombre.length >15 || segundonombre.length >15 || primerapellido.length >15 || segundoapellido.length >15) {
    alert("Los campos primer nombre, segundo nombre, primer apellido y segundo apellido solo deben tener 15 caracteres ");
    return false;
  }
  else if (correo.length >30) {
    alert("El correo solo debe tener 30 caracteres ");
    return false;
  }
  else if (sector.length >30 || calle.length >30) {
    alert("El sector y la Referencia solo debe tener 30 caracteres ");
    return false;
  }
  else if (contrasenausuario.length >15) {
    alert("La contraseña no debe tener más de 25 caracteres ");
    return false;
  }
  else if (confcontrasenausuario.length >25) {
    alert("Confirmar la contraseña no debe tener más de 25 caracteres ");
    return false;
  }
  else if (confcontrasenausuario.length >25) {
    alert("Confirmar contraseña no debe tener más  de 25 caracteres ");
    return false;
  }
  else if (contrasenausuario != confcontrasenausuario) {
    alert("La contraseña no coincide con confirmar contraseña");
    return false;
  }
  else if (isNaN(cedula)) {
    alert("La cédula debe ser solo números  ");
    return false;
  }
  else if (cedula.length !=11) {
    alert("La cédula debe tener 11 dígitos ");
    return false;
  }
  else if (isNaN(telefonousuario) ) {
    alert("El campo teléfono debe ser solo números ");
    return false;
  }
  else if (telefonousuario.length !=10 ) {
    alert(" Teléfono debe tener 10 dígitos ");
    return false;
  }
  else if (telefonousuario.length !=10 ) {
    alert("El teléfono debe tener 10 dígitos ");
    return false;
  }

}
</script>

</head>

  <body>

  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-body">
        <img src="/imagenes/digesettLogo.png"></img>
        <h1><strong>Registrarse</strong></h1>
        <h6>Todos los campos con * son obligatorios</h6>
        <br>


          <fieldset>
            <legend><h4>Información personal</h4></legend>
          <div class="form-row">
                <div class="col-md-3">
                    <label for="primernombre">Primer nombre:</label>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                        <input type="text" autocomplete="off" class="form-control" id="primernombre" name="primernombre" placeholder=""  >
                    </div>
                </div>

              <!-- <div class="form-group col-md-3">
                  <label for="primernombre">Primer nombre:</label>
                  <input type="text" class="form-control" id="primernombre" placeholder="">
              </div> -->
              <div class="col-md-3">
                  <label for="segundonombre">Segundo nombre:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="segundonombre" id="segundonombre" placeholder="">
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="primerapellido">Primer apellido*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="primerapellido" id="primerapellido" placeholder="" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="segundoapellido">Segundo apellido:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="segundoapellido" id="segundoapellido" placeholder="">
                  </div>
              </div>

          </div>

          <div class="form-row">

              <div class="col-md-3">
                  <label for="cedula">Cédula*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    </div>
                      <input type="text" autocomplete="off" name="cedula" class="form-control" id="cedula" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="nacionalidad">Nacionalidad*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select id="nacionalidad" name="nacionalidad" class="form-control" >
                        <option selected>Seleccione</option>
                        <option>Dominicano</option>
                        <option>Extranjero</option>
                    </select>
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="fechanacimiento">Fecha de nacimiento*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="date" name="fechanacimiento" class="form-control" id="fechanacimiento" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="sexo">Sexo*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-friends"></i></span>
                    </div>
                    <select id="sexo" name="sexo" class="form-control" >
                        <option>Elegir...</option>
                        <option>Femenino</option>
                        <option>Masculino</option>
                    </select>
                  </div>
              </div>

          </div>
        </fieldset>

        <br>

        <fieldset>
          <legend><h4>Información de cuenta</h4></legend>
          <div class="form-row">

              <div class="col-md-6">
                  <label for="emailusuario">Correo*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                      <input type="email" autocomplete="off" name="correo" class="form-control" id="emailusuario" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="contrasenausuario">Contraseña*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                        <input type="password" autocomplete="off" name="clave" class="form-control" id="contrasenausuario" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="confcontrasenausuario">Confimar Contraseña*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                        <input type="password" autocomplete="off" name="confirpass" class="form-control" id="confcontrasenausuario" >
                  </div>
              </div>

          </div>
        </fieldset>
        <br>

        <fieldset>
          <legend><h4>Información de contacto</h4></legend>
          <div class="form-row">

              <div class="col-md-3">
                  <label for="telefonousuario">Teléfono*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="tel" autocomplete="off" class="form-control" name="telefonousuario" id="telefonousuario"  >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="provincia">Provincia*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="provincia" name="provincia" class="form-control" onchange="fillMunicipios()">
                        <option selected>Seleccione</option>
                    </select>


                  </div>
              </div>

              <div class="col-md-3">
                  <label for="municipio">Municipio*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="municipio" name="municipio" class="form-control" onchange="fillSector()">
                        <option selected>Seleccione</option>
                    </select>
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="sector">Sector*:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="sector" class="form-control" name="sector">
                        <option selected>Seleccione</option>
                    </select>
                  </div>
              </div>

          </div>

          <div class="form-row">

            <div class="col-md-6">
                <label for="calle">Calle*:</label>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                      <input type="text" autocomplete="off" name="calle" class="form-control" id="calle" >
                </div>
            </div>

            <div class="col-md-6">
                <label for="casa">Nombre casa/residencial*:</label>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                      <input type="text" autocomplete="off" name="casa" class="form-control" id="casa" >
                </div>
            </div>

          </div>



      </div>
      </fieldset>
      <form>
      <div class="form-group">
          <input type="submit" value="Registrar" class=" registrar_btn">

      </div>
    </form>

      </form>

      </div>
    </div>
  </div>
</div>

 <script src="js/bootstrap.min.js"></script>
 <script src="custom-js/registrar-users.js"></script>
  </body>
</html>
