<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <title>Registrarse</title>

   <!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" href="/css/registrarUser.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- funcion para validar -->
<script>
function validar(){
  var primernombre,segundonombre,primerapellido,segundoapellido,cedula,nacionalidad,fechanacimiento,sexo,correo,contrasenausuario,confcontrasenausuario,telefonousuario,provincia,municipio,ciudad,sector,calle,expre1,expre2;

  primernombre = document.getElementById('primernombre').value;
  segundonombre = document.getElementById('segundonombre').value;
  primerapellido = document.getElementById('primerapellido').value;
  segundoapellido = document.getElementById('segundoapellido').value;
  cedula = document.getElementById('cedula').value;
  nacionalidad = document.getElementById('nacionalidad').selectedIndex;
  fechanacimiento = document.getElementById('fechanacimiento').value;
  sexo = document.getElementById('sexo').selectedIndex;
  correo = document.getElementById('emailusuario').value;
  contrasenausuario = document.getElementById('contrasenausuario').value;
  confcontrasenausuario = document.getElementById('confcontrasenausuario').value;
  telefonousuario = document.getElementById('telefonousuario').value;
  provincia = document.getElementById('provincia').selectedIndex;
  municipio = document.getElementById('municipio').selectedIndex;
  ciudad = document.getElementById('ciudad').selectedIndex;
  sector = document.getElementById('sector').value;
  calle = document.getElementById('calle').value;
  expre1 = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
  expre2 = /^[A-Z]+$/i;


  if(primernombre === ""){
    alert("El campo primer nombre esta vacío");
    // document.getElementById("primernombre").focus();
    // document.getElementById("primernombre").style.borderColor="red";
    return false;
  }
  else if (!expre2.test(primernombre)) {
    alert("El campo primer nombre solo es letras");
    return false;
  }
  else if (primerapellido ==="") {
    alert("El campo primer apellido esta vacío");
    return false;
  }
  else if (cedula==="") {
    alert("El campo cédula esta vacío");
    return false;
  }
  else if (nacionalidad=== 0) {
    alert("El campo nacionalidad esta vacío");
    return false;
  }
  else if (fechanacimiento==="") {
    alert("El campo fecha de nacimiento esta vacío");
    return false;
  }
  else if (sexo=== 0) {
    alert("El campo   esta vacío");
    return false;
  }
  else if (correo==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (!expre1.test(correo)) {
    alert("El correo no es valido");
    return false;
  }
  else if (contrasenausuario==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (confcontrasenausuario==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (telefonousuario==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (provincia=== 0) {
    alert("El campo   esta vacío");
    return false;
  }
  else if (municipio=== 0) {
    alert("El campo   esta vacío");
    return false;
  }
  else if (ciudad=== 0 ){
    alert("El campo   esta vacío");
    return false;
  }
  else if (sector==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (calle==="") {
    alert("El campo   esta vacío");
    return false;
  }
  else if (primernombre.length >15 || segundonombre.length >15 || primerapellido.length >15 || segundoapellido.length >15) {
    alert("Los campos solo debe tener 15 caracteres ");
    return false;
  }
  else if (correo.length >25) {
    alert("El correo solo debe tener 25 caracteres ");
    return false;
  }
  else if (sector.length >20 || calle.length >20) {
    alert("El sector y la calle solo debe tener 20 caracteres ");
    return false;
  }
  else if (contrasenausuario.length >15) {
    alert("la contraseña no debe tener mas de 25 caracteres ");
    return false;
  }
  else if (confcontrasenausuario.length >25) {
    alert("la confirmar contraseña no debe tener mas de 25 caracteres ");
    return false;
  }
  else if (contrasenausuario != confcontrasenausuario) {
    alert("la contraseña no coincide con confirmar contraseña");
    return false;
  }
  else if (isNaN(cedula)) {
    alert("El campo cedula debe ser solo numeros ");
    return false;
  }
  else if (cedula.length !=11) {
    alert(" cedula debe tener 11 digitos ");
    return false;
  }
  else if (isNaN(telefonousuario) ) {
    alert("El campo telefono debe ser solo numeros ");
    return false;
  }
  else if (telefonousuario.length !=10 ) {
    alert(" telefono debe tener 10 digitos ");
    return false;
  }

}
</script>

</head>

  <body>

  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-body">
        <img src="/imagenes/digesettLogo.png"></img>
        <h1><strong>Registrarse</strong></h1>
        <br>
        <form name="registrarse" action="/registrarUsers" method="POST" onsubmit="return validar();">

          <fieldset>
            <legend><h4>Información personal</h4></legend>
          <div class="form-row">
                <div class="col-md-3">
                    <label for="primernombre">Primer nombre:</label>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                        <input type="text" autocomplete="off" class="form-control" id="primernombre" name="primernombre" placeholder=""  >
                    </div>
                </div>

              <!-- <div class="form-group col-md-3">
                  <label for="primernombre">Primer nombre:</label>
                  <input type="text" class="form-control" id="primernombre" placeholder="">
              </div> -->
              <div class="col-md-3">
                  <label for="segundonombre">Segundo nombre:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="segundonombre" id="segundonombre" placeholder="">
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="primerapellido">Primer apellido:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="primerapellido" id="primerapellido" placeholder="" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="segundoapellido">Segundo apellido:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <input type="text" autocomplete="off" class="form-control" name="segundoapellido" id="segundoapellido" placeholder="">
                  </div>
              </div>

          </div>

          <div class="form-row">

              <div class="col-md-3">
                  <label for="cedula">Cédula:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    </div>
                      <input type="text" autocomplete="off" name="cedula" class="form-control" id="cedula" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="nacionalidad">Nacionalidad:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
                    </div>
                    <select id="nacionalidad" name="nacionalidad" class="form-control" >
                        <option selected>Elegir...</option>
                        <option>Dominicano</option>
                        <option>Extranjero</option>
                    </select>
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="fechanacimiento">Fecha de nacimiento:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="date" name="fechanacimiento" class="form-control" id="fechanacimiento" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="sexo">Sexo:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-friends"></i></span>
                    </div>
                    <select id="sexo" name="sexo" class="form-control" >
                        <option>Elegir...</option>
                        <option>Femenino</option>
                        <option>Masculino</option>
                    </select>
                  </div>
              </div>

          </div>
        </fieldset>

        <br>

        <fieldset>
          <legend><h4>Información de cuenta</h4></legend>
          <div class="form-row">

              <div class="col-md-6">
                  <label for="emailusuario">Correo:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                      <input type="email" autocomplete="off" name="correo" class="form-control" id="emailusuario" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="contrasenausuario">Contraseña:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                        <input type="password" autocomplete="off" name="clave" class="form-control" id="contrasenausuario" >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="confcontrasenausuario">Confimar Contraseña:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                        <input type="password" autocomplete="off" name="confirpass" class="form-control" id="confcontrasenausuario" >
                  </div>
              </div>


          </div>
        </fieldset>
        <br>

        <fieldset>
          <legend><h4>Información de contacto</h4></legend>
          <div class="form-row">

              <div class="col-md-3">
                  <label for="telefonousuario">Teléfono:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="tel" autocomplete="off" class="form-control" name="telefonousuario" id="telefonousuario"  >
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="provincia">Provincia:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="provincia" name="provincia" class="form-control" >
                        <option selected>Elegir...</option>
                        <option>Azua </option>
                        <option>Bahoruco </option>
                        <option>Barahona </option>
                        <option>Dajabón </option>
                        <option>Distrito Nacional </option>
                        <option>Duarte </option>
                        <option>Elías Piña </option>
                        <option>El Seibo </option>
                        <option>Espaillat </option>
                        <option>Hato Mayor </option>
                        <option>Hermanas Mirabal </option>
                        <option>Independencia </option>
                        <option>La Altagracia </option>
                        <option>La Romana </option>
                        <option>La Vega </option>
                        <option>María Trinidad Sánchez </option>
                        <option>Monseñor Nouel </option>
                        <option>Monte Cristi </option>
                        <option>Monte Plata </option>
                        <option>Pedernales </option>
                        <option>Peravia </option>
                        <option>Puerto Plata </option>
                        <option>Samaná </option>
                        <option>Sánchez Ramírez </option>
                        <option>San Cristóbal </option>
                        <option>San José de Ocoa </option>
                        <option>San Juan </option>
                        <option>San Pedro de Macorís </option>
                        <option>Santiago </option>
                        <option>Santiago Rodríguez </option>
                        <option>Santo Domingo </option>
                        <option>Valverde </option>
                    </select>
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="municipio">Municipio:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="municipio" name="municipio" class="form-control" >
                        <option selected>Elegir...</option>

                    </select>
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="ciudad">Ciudad:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <select id="ciudad" name="ciudad" class="form-control" >
                        <option selected>Elegir...</option>

                    </select>
                  </div>
              </div>

          </div>

          <div class="form-row">

            <div class="col-md-3">
                <label for="sector">Sector:</label>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                      <input type="text" autocomplete="off" name="sector" class="form-control" id="sector" >
                </div>
            </div>

              <div class="col-md-3">
                  <label for="calle">Calle:</label>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                        <input type="text" autocomplete="off" name="calle" class="form-control" id="calle" >
                  </div>
              </div>
          </div>


      </div>
      </fieldset>

        <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> -->
      <form>
      <div class="form-group">
          <input type="submit" value="Registrar" class=" registrar_btn">
      </div>
    </form>

      </form>

      </div>
      <!-- <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </div> -->
    </div>
  </div>
</div>

 <script src="js/bootstrap.min.js"></script>
 <script src="custom-js/registrar-users.js"></script>
  </body>
</html>
