html,body{
background-image: url('../imagenes/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: auto;
font-family: "Times New Roman", Times, serif;
}



.navbar {
  width: 100%;
font-size: 25px;
font-family: "Times New Roman", Times, serif;
}
.navbar-brand a{

  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
